#about {
  position: relative;
  background-color: white;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 70px;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .btn {
      font-weight: 600;
      transition: all 300ms ease;
      padding: 1.5rem;
      width: 10rem;
      border-radius: 2rem;

      a {
        text-decoration: none;
        color: black;
      }

      &.btn-color-2 {
        border: 0.1rem solid rgb(163, 163, 163);
        font-size: 20px;
      }
    }
  }

  .about-containers {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
  }

  .about-details-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
  }

  .about-pic {
    max-width: 100%;
    border-radius: 2rem;
  }

  .details-container {
    padding: 1.5rem;
    background: white;
    border-radius: 2rem;
    border: 0.1rem solid rgb(163, 163, 163);
    text-align: center;
  }

  .details-container p {
    padding-top: 10px;
  }

  .text-container {
    margin-top: -30px;
    padding-right: 30px;
    font-family: 'EB Garamond', serif;
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .section-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    height: 80%;
    align-items: center;
  }

  .section__pic-container {
    flex: 0.9;
    display: flex;
    justify-content: flex-end;
    margin: auto 10px auto -15rem;
    overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .about-pic {
    max-width: 100%;
    border-radius: 2rem;
  }

  .about-details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    .section-container {
      flex-direction: column;
      text-align: center;
      height: 120%; /* Adjusted height for small devices */
    }
  
    .title {
      margin: auto;
      margin-bottom: 50px;
    }
  
    .details-container {
      padding: 0.5rem;
    }
  
    .about-pic {
      max-width: 60%;
      border-radius: 2rem;
      margin: auto; /* Center the image horizontally */
      display: block; /* Ensure margin:auto works for block-level elements */
    }
  
    .btn-container {
      flex-direction: column;
      align-items: center;
  
      .btn {
        width: 100%;
        margin-bottom: 1rem;
        height: 20vh;
      }
    }
  
    .about-containers {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: auto; /* Center the container horizontally */
    }
  
    .section-container {
      flex-direction: column;
      text-align: center;
    }
  
    .section__pic-container {
      flex: 100%;
      margin: auto;
      order: -1;
    }
  
    // .about-details-container {
    //   // margin-top: 30px;
    // }
  
    .text-container {
      padding-top: 10px;
      padding-right: 0px;
      text-align: center;
      margin: 0 10px 0 10px;
    }
  }
  
}
