.work-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 155vh;
    background-color: white;

}
.work-title{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    }

.card {
    width: 30vw; /* Increase width as needed */
    height: 50vh; /* Increase height as needed */
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    margin: 20px;
    
}



.card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
    
}

.card:hover img {
    filter: grayscale(1) brightness(0.4);
 
}

.card:hover::after {
    opacity: 1;
    inset: 20px;

}

.content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
}

.content h1 {
    font-size: 26px;
    color:rgb(255, 0, 51);
}

.content h2 {
    font-size: 21px;
    color: whitesmoke;
}

.content h1,
.content p,
.content h2 {
    opacity: 0;
    transition: 0.4s 0.2s ease;
}

.content h3 {
    position: absolute;
    bottom: 100%;
    color: white;
    font-weight: lighter;
}

.content h1,
.content h2 {
    margin-bottom: 12px;
    transform: scale(0.7);
}

.content p {
    font-size: 14px;
    line-height: 1.5;
    color: #d1d1d1;
    transform: translateY(50%);
}

.card:hover .content h1,
.card:hover .content h2 {
    transform: scale(1);
    opacity: 1;
}

.card:hover .content p {
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (max-width: 768px) {
    .work-section{
        height: 155vh;
    }
    .work-title{
        overflow: hidden;
        font-size: 20px;

    }
    .slider {
        flex-direction: column; /* Change flex-direction to column for smaller screens */
    }
    .card {
        width: 70vw; /* Adjust width for smaller screens */
        height: 30vh; /* Adjust height for smaller screens */
    }
    .content h1 {
        font-size: 18px;
    }
    .content h2 {
        font-size: 14px;
    }
    .content p {
        font-size: 12px;
    }
}