@import "./global.scss";
@import "../src/components/works/works.scss";
@import "../src/components/about/about.scss";

.app {
    height: 100vh;
  
    .sections {
      width: 100%;
      height: calc(120vh - 70px);
      background-color: white;
      position: relative;
      top: 70px;
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;
      scrollbar-width: none; // for Firefox
      &::-webkit-scrollbar {
        display: none;
      }
  
     
  
      > * {
        width: 100vw;
        height: calc(130vh - 70px);
        // scroll-snap-align: start;
        
      }
      .works{
        @include mobile{
            height: calc(180vh - 70px);
        }
      }
     
      
    }
  }
  